[smartride]
type = drive
scope = drive
# A valid token is a JSON object consists of "access_token", "token_type", "refresh_token" and "expiry" entries.
token = {<ENTER TOKEN HERE>}
# Just leave blank, do not fill in anything
team_drive =
